body {
    background: lightgrey;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

#background {
    background: url("../resources/Free Pixel Art Forest/Preview/Background.png");
    background-position-y: -1080px;
    background-repeat: repeat;
    width: 5000px;
    height: 500px;
    z-index: -1;
    opacity: .95;
    transition: .145s;
}

#DOM-runner {
    width: 120px;
    height: 100px;
    /* margin: 350px 0 0 100px; */
    position: absolute;
    top: 350px;
    left: 100px;
    z-index: 1;
    opacity: .9;
}