* {
    font-family: 'Press Start 2P', cursive;
}

html {
    background-color: gray;
}

body {
    background: gray;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background-color 2s;
}

header {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 1000px;
}

#score {
    margin: 10px;
}

#title {
    text-align: center;
}

#start {
    height: 40%;
    border-radius: 10px;
}

#instructions {
    margin-left: 10px;
    height: 40%;
    border-radius: 10px;
}

.container {
    position: absolute;
    width: 1000px;
    height: 500px;
    overflow: hidden;
}

#background {
    background: url("../assets/Free Pixel Art Forest/Preview/Background.png");
    background-position-y: -1080px;
    background-repeat: repeat;
    width: 5000px;
    height: 500px;
}

#DOM-runner {
    width: 120px;
    height: 100px;
    position: absolute;
    top: 350px;
    left: 100px;
    z-index: 1;
    opacity: .9;
}

.laser {
    position: absolute;
    height: 75px;
    width: 100px;
    opacity: 0;
    transition: opacity .5s;
}


.bomb {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 405px;
    left: 500px;
    opacity: .9;
}

#promt-card {
    border-radius: 1em;
    background-color: #222222;
    margin: 12.5% auto;
    width: 50%;
    height: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#promt {
    font-size: 40px;
    text-align: center;
    color: red;
}

#reset {
    height: 15%;
    border-radius: 1em;
}

.monster {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 365px;
    opacity: .8;
}

.coin {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 250px;
    left: 800px;
    opacity: .9;
}

#overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#instruction-card {
    position: absolute;
    top: 21%;
    opacity: .85;
    padding: 0;
    color: white;
    border-radius: 1em;
    background-color: #222222;
    width: 50%;
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to {
    line-height: 3em;
    padding: 20px;
    background-color: #111111;
    width: 90%;
    height: 70%;
}

#final-score {
    color: white;
    margin-bottom: 30px;
}